// Footer
.footer-section
  .container
    p
      | © 
      span#spanYear
      |  James Bovis. All rights reserved.
    .social-icons.text-center
      ul
        li
          a(target='_blank', href='https://www.facebook.com/james.bovis')
            img.hvr-grow.img-circle(src='img/facebook-logo.svg', alt='')
        li
          a(target='_blank', href='https://twitter.com/Hovis_Bovis')
            img.hvr-grow.img-circle(src='img/twitter-logo.svg', alt='')
        li
          a(target='_blank', href='https://www.instagram.com/fenderjim/')
            img.hvr-grow.img-circle(src='img/instagram-logo.svg', alt='')
        li
          a(target='_blank', href='https://github.com/James-Bovis')
            img.hvr-grow.img-circle(src='img/github-logo.svg', alt='')
